.news{
    float: left;
    border: 1px solid;
    width: 600px;
    height: 300px;
    margin: 0 0 20px 0;
    padding: 0 25px 25px 25px;
}
#type{

}
#type ul li{
    text-align: left;
    margin: 0 60px 0 0;
    display:inline;
    list-style-type:none;
}
#img{
    width: 300px;
    height: 170px;
}