#main a{
    text-decoration: none;
}
#queue {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    height: 150px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px 10px;
    width: 300px;
}
#main a:link {color: black;}
#main  a:visited {color:black;}
#main  a:hover {color: #ff0f01;}
#main  a:active {color:#0000FF;}